/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-10-icon-mail {
  background-image: url(../images/sprite.png);
  background-position: -193px -206px;
  width: 24px;
  height: 18px;
}
.icon-10-icon-map {
  background-image: url(../images/sprite.png);
  background-position: -267px -28px;
  width: 19px;
  height: 24px;
}
.icon-10-icon-partners {
  background-image: url(../images/sprite.png);
  background-position: -141px -103px;
  width: 24px;
  height: 23px;
}
.icon-10-icon-phone {
  background-image: url(../images/sprite.png);
  background-position: -267px 0px;
  width: 22px;
  height: 23px;
}
.icon-box {
  background-image: url(../images/sprite.png);
  background-position: -141px -74px;
  width: 25px;
  height: 24px;
}
.icon-clock {
  background-image: url(../images/sprite.png);
  background-position: -267px -57px;
  width: 18px;
  height: 18px;
}
.icon-condition_icon_1 {
  background-image: url(../images/sprite.png);
  background-position: -194px 0px;
  width: 68px;
  height: 48px;
}
.icon-condition_icon_2 {
  background-image: url(../images/sprite.png);
  background-position: -194px -53px;
  width: 61px;
  height: 52px;
}
.icon-condition_icon_3 {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 69px;
  height: 69px;
}
.icon-condition_icon_4 {
  background-image: url(../images/sprite.png);
  background-position: 0px -74px;
  width: 64px;
  height: 70px;
}
.icon-condition_icon_5 {
  background-image: url(../images/sprite.png);
  background-position: -141px 0px;
  width: 48px;
  height: 69px;
}
.icon-condition_icon_6 {
  background-image: url(../images/sprite.png);
  background-position: -74px 0px;
  width: 62px;
  height: 62px;
}
.icon-condition_icon_7 {
  background-image: url(../images/sprite.png);
  background-position: 0px -149px;
  width: 54px;
  height: 52px;
}
.icon-condition_icon_8 {
  background-image: url(../images/sprite.png);
  background-position: -74px -67px;
  width: 57px;
  height: 62px;
}
.icon-delivery {
  background-image: url(../images/sprite.png);
  background-position: -163px -206px;
  width: 25px;
  height: 18px;
}
.icon-delivery_icon_1 {
  background-image: url(../images/sprite.png);
  background-position: -59px -149px;
  width: 56px;
  height: 49px;
}
.icon-delivery_icon_2 {
  background-image: url(../images/sprite.png);
  background-position: -183px -149px;
  width: 68px;
  height: 35px;
}
.icon-garant {
  background-image: url(../images/sprite.png);
  background-position: -194px -110px;
  width: 25px;
  height: 27px;
}
.icon-lock {
  background-image: url(../images/sprite.png);
  background-position: -267px -124px;
  width: 16px;
  height: 18px;
}
.icon-market_icon {
  background-image: url(../images/sprite.png);
  background-position: -224px -110px;
  width: 26px;
  height: 25px;
}
.icon-medal {
  background-image: url(../images/sprite.png);
  background-position: -109px -206px;
  width: 19px;
  height: 28px;
}
.icon-pay_icon_1 {
  background-image: url(../images/sprite.png);
  background-position: 0px -206px;
  width: 50px;
  height: 44px;
}
.icon-pay_icon_2 {
  background-image: url(../images/sprite.png);
  background-position: -120px -149px;
  width: 58px;
  height: 45px;
}
.icon-pay_icon_3 {
  background-image: url(../images/sprite.png);
  background-position: -55px -206px;
  width: 49px;
  height: 43px;
}
.icon-rating_star {
  background-image: url(../images/sprite.png);
  background-position: -267px -80px;
  width: 18px;
  height: 17px;
}
.icon-rating_star_full {
  background-image: url(../images/sprite.png);
  background-position: -267px -102px;
  width: 18px;
  height: 17px;
}
.icon-wallet {
  background-image: url(../images/sprite.png);
  background-position: -133px -206px;
  width: 25px;
  height: 21px;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
  font-family: 'MuseoSansMedium', Arial, Tahoma, sans-serif;
  font-size: 15px;
  background: #fff;
}
a {
  text-decoration: none;
  color: inherit;
}
.icon {
  display: inline-block;
  vertical-align: middle;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
*,
*:active,
*:focus {
  outline: none !important;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
.page {
  overflow: hidden;
  position: relative;
}
.textRight {
  text-align: right;
}
.btn {
  display: inline-block;
  border-radius: 4px;
  font-size: 21px;
  color: #262626;
  transition: all 0.3s ease-out;
  text-align: center;
  font-family: 'MuseoSansBold', Arial, Tahoma, sans-serif;
}
.btn.orange {
  background: #ffc300;
}
header {
  padding: 23px 0 52px;
  background: url("../images/header_bg.jpg") center center no-repeat;
  background-size: cover;
  color: #fff;
}
.logo {
    margin-top: -8px;
    margin-bottom: 10px;
    display: inline-block;
}
.header-contacts {
  text-align: left;
  margin-bottom: 17px;
}
.header-phone {
  font-size: 24px;
  font-family: 'MuseoSansBold', Arial, Tahoma, sans-serif;
  line-height: 1.1;
  display: block;
}
.recall {
  display: inline-block;
  border-radius: 5px;
  padding: 10px 16px;
  border: 2px solid #fff;
  margin-top: 4px;
  text-align: center;
  margin-left: 21px;
  transition: all 0.3s ease-out;
  margin-bottom: 20px;
}
.recall:hover {
  background: #fff;
  color: #262626;
}
.header-menu_outer {
  background: #252525;
  padding: 18px 0 19px;
  position: relative;
  z-index: 100 !important;
}
.sticky-wrapper {
  z-index: 100 !important;
}
.is-sticky .header-menu_outer {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
}
.header-menu li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 29px;
}
.header-menu li:last-child {
  margin-right: 0;
}
.header-menu a {
  font-size: 16px;
  transition: all 0.3s ease-out;
}
.header-menu a:hover {
  color: #ffc300;
}
.header-content {
  padding-top: 22px;
  text-align: right;
  position: relative;
  z-index: 1;
}
.header-content h2 {
  margin-bottom: 26px;
}
.header-content .limited-img {
  position: absolute;
  z-index: 2;
  left: 40px;
  bottom: 38px;
}
h2 {
  font-size: 48px;
  line-height: 1.166;
  color: #fff;
  text-align: center;
  font-family: 'MuseoSansBlack', Arial, Tahoma, sans-serif;
  margin-bottom: 37px;
}
h2 span {
  display: block;
  color: #ffc300;
  margin-top: 7px;
  font-size: 0.750em;
  line-height: 1.333;
}
.advantage-block {
  position: relative;
  z-index: 2;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 28px 37px 35px 49px;
  display: inline-block;
  text-align: center;
  margin-right: 60px;
}
.advantage-block h3 {
  font-family: 'MuseoSansBlack', Arial, Tahoma, sans-serif;
  font-size: 28px;
  margin-bottom: 27px;
}
.advantage-block .btn {
  padding: 15px 28px 17px;
  margin-top: 9px;
  position: relative;
  z-index: 5;
}
.advantage-block .btn:hover {
  box-shadow: 0 6px 12px 0 rgba(129, 98, 0, 0.5);
  background: #fcd705 !important;
}
.advantage-pen {
  position: absolute;
  z-index: 3;
  width: 125px;
  height: 180px;
  top: 50px;
  left: -140px;
  pointer-events: none;
}
.advantage-list {
  text-align: left;
}
.advantage-list li {
  position: relative;
  margin-bottom: 21px;
}
.advantage-list i {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.advantage-list span {
  padding-left: 40px;
  font-size: 18px;
}
.catalog-section {
  padding: 48px 0 64px;
  background: #dadada;
}
.catalog-section h2 {
  color: #262626;
}
.catalog-container {
  font-size: 0;
}
.catalog-block {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  font-size: 14px;
  background: #fff;
  border-left: 1px solid #dadada;
  color: #262626;
  overflow: hidden;
}
.catalog-block:first-child {
  border-left: 0;
  border-radius: 4px 0 0 4px;
}
.catalog-block:last-child {
  border-radius: 0 4px 4px 0;
}
.catalog-block.hit .catalog-top,
.catalog-block.hit .catalog-type {
  background: #0bacfb;
}
.catalog-block.hit .catalog-top {
  font-family: 'MuseoSansBlack', Arial, Tahoma, sans-serif;
}
.catalog-block.new .catalog-type {
  background: #00c364;
}
.catalog-top {
  background: #262626;
  color: #fff;
  padding: 18px 16px 21px;
  font-size: 21px;
  font-family: 'MuseoSansBold', Arial, Tahoma, sans-serif;
}
.catalog-info {
  padding: 16px 16px 28px;
}
.catalog-info h3 {
  font-size: 18px;
  line-height: 1.333;
  font-family: 'MuseoSansBlack', Arial, Tahoma, sans-serif;
  margin-bottom: 16px;
}
.catalog-list {
  padding-bottom: 10px;
  min-height: 161px;
}
.catalog-list li {
  line-height: 1.357;
  margin-bottom: 14px;
  padding-left: 26px;
  position: relative;
}
.catalog-list li:before {
  position: absolute;
  content: "+";
  left: 0;
  top: -7px;
  color: #00c364;
  font-size: 24px;
  font-family: 'MuseoSansBlack', Arial, Tahoma, sans-serif;
}
.pen-feature {
  height: 42px;
  margin-bottom: 22px;
  margin-top: 6px;
}
.pen-feature img {
  display: inline-block;
  vertical-align: middle;
}
.pen-feature span {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  margin: 0 -1px;
  font-family: 'MuseoSansBold', Arial, Tahoma, sans-serif;
}
.pen-photo {
  position: relative;
  height: 206px;
}
.pen-photo img {
  display: none;
  width: 100%;
}
.pen-photo img.active-pen {
  display: block;
}
.pen-photo .catalog-type {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: inline-block;
  color: #fff;
  font-size: 16px;
  font-family: 'MuseoSansBold', Arial, Tahoma, sans-serif;
  padding: 6px 12px;
}
.pen-color {
  margin-bottom: 25px;
}
.pen-color p {
  margin-top: 5px;
  display: inline-block;
}
.pen-color ul {
  float: right;
}
.pen-color li {
  display: inline-block;
  margin-left: 5px;
}
.pen-color li.active-color a:after {
  position: absolute;
  content: url("../images/2-check-color.png");
  z-index: 2;
  left: 0;
  top: 0;
}
.pen-color a {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-out;
  position: relative;
}
h3.h3 {
    position: absolute;
    top: 0px;
    left: 85px;
    font-size: 20px;
}
h3.h3 span{
  font-size: 14px;
  display: block;
  margin-top: 5px;
}
h3.h3 p{
  font-size: 11px;
  margin-top: 3px;
}
.pen-color a:hover {
  box-shadow: inset 0 0 0 1px #000000;
}
.pen-color a.sunflower-yellow {
    background: #fff138;
}

.pen-color a.sunflower-gray {
  background: #949494
}
.pen-color a.dark-blue {
    background: #01e0ec;
}
.pen-color a.orange2 {
    background: #f2a3d3;
}
.pen-color a.gray {
    background: #a989ff;
}
.pen-color a.light-green {
  background: #01e0ec;
}
.pen-color a.yellow {
  background: #fff138;
}
.pen-color a.pink {
  background: #f2a3d3;
}
.pen-color a.purple {
  background: #a989ff;
}
.pen-color a.dark-orange {
    background: #01e0ec;
}
.pen-color a.yellow-2 {
  background: #fff562;
}
.pen-color a.blue {
    background: #f2a3d3;
}
.pen-color a.white {
  background: #fff;
}
.pen-color a.green {
    background: #a989ff;
}
.pen-color a.purple-2 {
    background: #01e0ec;
}
.pen-color a.deep-purple {
    background: #fff138;
}
.pen-color a.blue-2 {
    background: #f2a3d3;
}
.pen-color a.green-2 {
    background: #a989ff;
}
.pen-color a.yellow-3 {
  background: #fde91a;
}
.buy-list {
  display: table;
  width: 100%;
  margin-bottom: 15px;
}
.buy-list li {
  vertical-align: middle;
  display: table-cell;
}
.buy-list li:first-child {
  width: 42%;
}
.buy-list li:last-child {
  width: 58%;
}
.buy-list .new-price {
  font-size: 20px;
  font-family: 'MuseoSansBlack', Arial, Tahoma, sans-serif;
  margin-bottom: 2px;
}
.buy-list .old-price {
  font-size: 16px;
  color: #8f8f8f;
  text-decoration: line-through;
}
.buy-list .buy-pen {
  width: 100%;
  text-align: center;
  padding: 12px 10px 14px;
  transition: all 0.3s ease-out;
}
.buy-list .buy-pen:hover {
  box-shadow: 0 4px 8px 0 rgba(129, 98, 0, 0.5);
  background-color: #fcd705;
}
.buy-list .to-order {
  width: 100%;
  text-align: center;
  padding: 12px 10px 13px;
  background: transparent;
  font-size: 18px;
  border-radius: 4px;
  border: solid 2px #ffc300;
}
.buy-list .to-order:hover {
  box-shadow: 0 4px 8px 0 rgba(129, 98, 0, 0.5);
  background-color: #ffc300;
}
.set-more {
  font-size: 17px;
  font-family: 'MuseoSansMedium', Arial, Tahoma, sans-serif;
  width: 100%;
  padding: 16px 10px;
  border-radius: 4px;
  background-color: #ebebeb;
  text-align: center;
  margin-bottom: 18px;
  transition: all 0.3s ease-out;
}
.set-more:hover {
  color: #fff;
  background-color: #4b4b4b;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.5);
}
.set-count {
  font-size: 16px;
  color: #4b4b4b;
  text-align: left;
  font-family: 'MuseoSansMedium', Arial, Tahoma, sans-serif;
}
.condition-section {
  background: #1883d8;
  padding: 64px 0 40px;
}
.condition-block {
  position: relative;
  border-radius: 4px;
  background: #fff;
  padding: 16px 24px 21px 120px;
  text-align: left;
  color: #4b4b4b;
  margin-bottom: 24px;
}
.condition-block .icon-block {
  position: absolute;
  left: 24px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  width: 69px;
}
.condition-block h3 {
  font-size: 18px;
  line-height: 1.167;
  margin-bottom: 8px;
  font-family: 'MuseoSansBlack', Arial, Tahoma, sans-serif;
}
.condition-block h3.small {
  font-size: 16px;
  margin-bottom: 10px;
}
.condition-block p {
  font-size: 15px;
  line-height: 18px;
}
.delivery-pay-section {
  background: #f9f9f9;
  text-align: left;
  padding: 48px 0 40px;
}
.delivery-pay-section .container {
  position: relative;
}
.delivery-pay-section .tuktuk {
  position: absolute;
  right: 12px;
  top: 70px;
}
.delivery-pay-section h2 {
  text-align: center;
  color: #262626;
}
.delivery-pay-section h3 {
  font-family: 'MuseoSansBlack', Arial, Tahoma, sans-serif;
  font-size: 31px;
  line-height: 0.774;
  position: relative;
  padding-right: 60px;
  margin-bottom: 31px;
}
.delivery-pay-section h3 i {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-top: 4px;
}
.delivery-block {
  width: 331px;
  display: inline-block;
  vertical-align: top;
  border-radius: 8px;
  background: #fff;
  padding: 25px 30px 24px 35px;
  margin-right: 24px;
  margin-bottom: 51px;
  color: #4b4b4b;
}
.delivery-block .col-sm-6:nth-of-type(2) {
  padding-left: 23px;
}
.delivery-block p {
  font-size: 21px;
  line-height: 1.143;
  margin-bottom: 13px;
  line-height: 1.337;
}
.delivery-block p span {
  font-family: 'MuseoSansBold', Arial, Tahoma, sans-serif;
  display: block;
}
.delivery-block .gray {
  font-size: 18px;
  color: #b5b5b5;
  margin-bottom: 0;
}
.delivery-block .gray i {
  margin-right: 10px;
}
.delivery-block .gray span {
  display: inline-block;
  font-family: 'MuseoSansMedium', Arial, Tahoma, sans-serif;
}
.pay-block {
  border-radius: 8px;
  background: #fff;
  padding: 25px 22px 20px 35px;
  color: #4b4b4b;
  margin-bottom: 24px;
}
.pay-block p {
  font-size: 21px;
  line-height: 1.337;
}
.pay-block .gray {
  color: #b5b5b5;
  font-size: 18px;
}
.pay-block .gray i {
  margin-right: 10px;
  margin-top: -2px;
}
.pay-block .img-block {
  height: 33px;
  margin-bottom: 14px;
}
.pay-block img {
  display: inline-block;
  max-width: 100%;
}
.review-section {
  background: #dadada;
  padding: 48px 0 64px;
  text-align: center;
}
.review-section h2 {
  color: #262626;
}
.review-block {
  border-radius: 4px;
  background: #fff;
  padding: 24px;
  margin-bottom: 24px;
  text-align: left;
}
.review-block h4 {
  font-size: 14px;
  color: #888;
  margin-bottom: 15px;
}
.review-block h4 .name {
  display: inline-block;
  margin-right: 14px;
  font-size: 18px;
  color: #252525;
  font-family: 'MuseoSansBold', Arial, Tahoma, sans-serif;
}
.review-block h4 .name:first-letter {
  color: rgba(241, 50, 31, 0.95);
}
.review-block p {
  font-size: 14px;
  line-height: 1.286;
  color: #262626;
  margin-bottom: 8px;
}
.review-block p strong {
  font-family: 'MuseoSansBlack', Arial, Tahoma, sans-serif;
}
.review-block .date {
  float: right;
  color: #888;
  font-size: 14px;
}
.review-text {
  margin-bottom: 30px;
}
.rating {
  float: left;
  display: inline-block;
}
.more-review {
  background: #1883d8;
  border-radius: 4px;
  max-width: 540px;
  width: 100%;
  background: #fff;
  transition: all 0.3s ease-out;
  border: 2px solid #1883d8;
  padding: 14px 15px 16px;
  text-align: center;
  margin-top: 10px;
}
.more-review i {
  margin-right: 18px;
}
.more-review:hover {
  box-shadow: 0 4px 8px 0 rgba(24, 131, 216, 0.4);
}
.diploms-section {
  background: #00c364;
  padding: 50px 0;
}
.diploms-section h3 {
  text-align: left;
  font-size: 27px;
  font-family: 'MuseoSansBold', Arial, Tahoma, sans-serif;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 50px;
}
.diploms-text {
  float: left;
  width: 350px;
}
.diploms-text h4 {
  font-size: 35px;
  font-family: 'MuseoSansBlack', Arial, Tahoma, sans-serif;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #007826;
}
.diploms-text p {
  color: #007826;
  font-size: 21px;
  line-height: 1.238;
}
.fancybox-overlay {
  background: rgba(0, 0, 0, 0.88) !important;
}
.diploms-fancybox {
  float: right;
  position: relative;
}
.diploms-fancybox a {
  margin-left: 10px;
  display: inline-block;
}
.diploms-fancybox a:first-child {
  margin-left: 0;
}
.diploms-fancybox a img {
  max-width: 100%;
  display: block;
}
.diploms-fancybox .fake {
  position: absolute;
  z-index: 2;
  bottom: 85%;
  right: 55px;
  pointer-events: none;
}
.work-section {
  background: #dadada;
  padding: 48px 0 64px;
}
.work-section h2 {
  color: #262626;
  margin-bottom: 56px;
}
.work-block {
  position: relative;
  padding-left: 108px;
}
.work-block img {
  display: block;
  width: 96px;
  height: 96px;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.work-block .count {
  font-size: 48px;
  color: #4b4b4b;
  font-family: 'MuseoSansBlack', Arial, Tahoma, sans-serif;
  margin-bottom: 5px;
}
.work-block p {
  font-size: 16px;
  color: #3a3a3a;
  padding-left: 3px;
  line-height: 1.2;
}
.examples-section {
  padding: 48px 0 40px;
}
.examples-section h2 {
  color: #262626;
  margin-bottom: 48px;
}
.video-container {
  position: relative;
  padding-bottom: 52%;
  padding-top: 20px;
  height: 0;
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: 24px;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.photo-content {
  margin-left: -12px;
  margin-right: -12px;
}
.masonry-item {
  width: 25%;
  padding: 0 12px;
  margin-bottom: 24px;
}
.masonry-item a {
  display: block;
}
.masonry-item img {
  width: 100%;
  display: block;
  border-radius: 4px;
}
.masonry-item.w2 {
  width: 50%;
  padding: 0 12px;
}
.copy-header {
  padding: 64px 0 52px;
  background: url("../images/copy_header_bg.jpg") center center no-repeat;
  background-size: cover;
  color: #fff;
  text-align: right;
}
.copy-header h2 {
  margin-bottom: 88px;
}
.copy-header .container {
  position: relative;
}
.copy-header .limited-img {
  position: absolute;
  z-index: 2;
  left: 24px;
  top: 197px;
}
.copy-header .advantage-block {
  margin-right: 49px;
}
footer {
  background: #262626;
  padding: 30px 0;
}
.footer-info p {
  color: #b5b5b5;
  font-size: 18px;
  margin-bottom: 20px;
}
.footer-info p i {
  margin-right: 14px;
}
.footer-info-top {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-info-top .footer-mail {
  color: #fff;
  text-decoration: underline;
}
.footer-info-top .footer-mail:hover {
  text-decoration: none;
}
.footer-bottom p {
  font-size: 13px;
  color: #696969;
  line-height: 1.615;
  float: left;
}
.footer-bottom p a {
  text-decoration: underline;
  display: inline-block;
  margin-left: 10px;
}
.footer-bottom p a:hover {
  text-decoration: none;
}
.developer {
  float: right;
  margin-left: 20px;
}
form input[type="text"] {
  width: 100%;
  display: block;
  margin-bottom: 19px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 2px #bababa;
  font-size: 16px;
  color: #262626;
  padding: 13px 16px;
}
form button {
  width: 100%;
  text-align: center;
  background: #ffc61a;
  border: none;
  padding: 11px 15px 13px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
form button:hover {
  box-shadow: 0 6px 12px 0 rgba(129, 98, 0, 0.5);
  background: #fcd705 !important;
}
.catalog-popup {
  width: 100%;
  max-width: 940px;
  background: #fff;
  border-radius: 6px;
}
.fancybox-nav {
  width: 100px;
}
.fancybox-nav span {
  visibility: visible !important;
}
.fancybox-prev {
  left: -100px;
}
.fancybox-prev span {
  left: 30px;
}
.fancybox-next {
  right: -100px;
}
.fancybox-next span {
  right: 30px;
}
.catalog-popup_content {
  display: table;
  width: 100%;
  color: #262626 !important;
}
.catalog-popup_content > li {
  display: table-cell;
  vertical-align: top;
  width: 35% !important;
  padding: 20px 12px 32px;
}
.catalog-popup_content > li:first-child {
  padding-left: 24px;
}
.catalog-popup_content > li:nth-of-type(2) {
  padding-right: 32px;
}
.catalog-popup_content > li:last-child {
  width: 30% !important;
  background: #262626;
  padding-left: 28px;
  padding-right: 28px;
  color: #fff;
}
.catalog-popup_content h3 {
  color: #262626;
  font-size: 27px;
  font-family: 'MuseoSansBlack', Arial, Tahoma, sans-serif;
  margin-bottom: 25px;
}
.catalog-popup_content h4 {
  color: #4b4b4b;
  font-family: 'MuseoSansBold', Arial, Tahoma, sans-serif;
  font-size: 18px;
  margin-bottom: 15px;
}
.catalog-popup_content .text {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 33px;
}
.catalog-popup_content .popup-char {
  font-size: 14px;
  list-style: disc inside;
}
.catalog-popup_content .popup-char li {
  margin-bottom: 5px;
  color: #4b4b4b;
}
.catalog-popup_content form input {
  border: none !important;
  margin-bottom: 10px !important;
}
.catalog-popup_content form button {
  margin-bottom: 32px;
}
.catalog-popup_content .prices {
  margin-bottom: 17px;
}
.catalog-popup_content .prices span {
  display: inline-block;
  vertical-align: baseline;
}
.catalog-popup_content .prices .new {
  font-family: 'MuseoSansBlack', Arial, Tahoma, sans-serif;
  color: #fff;
  font-size: 30px;
  margin-right: 10px;
}
.catalog-popup_content .prices .old {
  color: #888;
  font-size: 16px;
  text-decoration: line-through;
}
.catalog-popup_content .in-stock {
  margin-bottom: 30px;
}
.catalog-popup_content .in-stock i,
.catalog-popup_content .in-stock span {
  display: inline-block;
  vertical-align: middle;
}
.catalog-popup_content .in-stock i {
  width: 9px;
  height: 9px;
  margin-right: 7px;
  border-radius: 100%;
}
.catalog-popup_content .in-stock i.yes {
  background: #00c364;
}
.catalog-popup_content .in-stock i.no {
  background: #ff5951;
}
.catalog-popup_content .in-stock span {
  font-size: 14px;
  color: #dadada;
}
.popup-pen-photo {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 285px;
}
.popup-pen-photo img {
  display: none;
  max-width: 100%;
  max-height: 100%;
}
.popup-pen-photo img.active-pen {
  display: block;
}
.popup-pen-photo .catalog-type {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  font-family: 'MuseoSansBold', Arial, Tahoma, sans-serif;
  font-size: 16px;
  padding: 6px 12px;
  color: #fff;
}
#catalog-2 .catalog-type {
  background: #0bacfb ;
}
#catalog-4 .catalog-type {
  background: #00c364;
}
.popup-contains {
  border-radius: 4px;
  background-color: #d8d8d8;
  padding: 17px 15px 8px;
}
.popup-contains li {
  margin-bottom: 8px;
}
.popup-contains li span {
  display: block;
  margin-left: 55px;
  font-size: 14px;
  line-height: 17px;
}
.popup-contains .image-block {
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #ffffff;
  padding: 2px;
  float: left;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.popup-contains .image-block img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.popup-delivery {
  border-radius: 4px;
  background-color: rgba(241, 241, 241, 0.17);
  padding: 0 10px 18px 16px;
  text-align: left;
  color: #dadada;
}
.popup-delivery h5 {
  font-family: 'MuseoSansBold', Arial, Tahoma, sans-serif;
  font-size: 14px;
  margin-bottom: 8px;
  padding-top: 18px;
}
.popup-delivery li {
  font-size: 0;
  margin-bottom: 4px;
}
.popup-delivery li span {
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
}
.popup-delivery li span:first-child {
  width: 40%;
}
.popup-delivery li span:nth-of-type(2) {
  width: 25%;
  text-align: right;
}
.popup-delivery li span:last-child {
  width: 35%;
  font-size: 12px;
  color: #888;
  padding-left: 12px;
}
/*================= МОДАЛКИ ======================*/
.buy-pen,
#recall {
  max-width: 492px;
}
.popup-modal {
  margin: 30px auto;
  border: none;
  position: relative;
  background: #fff;
  padding: 48px 80px;
  box-shadow: 0 24px 34px 0 rgba(0, 0, 0, 0.4);
  border-radius: 6px;
}
.popup-modal .mfp-close {
  opacity: 0.65;
  right: -40px;
  top: 0;
  transition: all 0.3s ease-out;
  height: 28px;
  width: 28px;
  background: url("../images/close_popup.png") center center no-repeat;
}
.popup-modal .mfp-close:hover {
  opacity: 1;
}
.popup-modal .pen-color p {
  color: #4b4b4b;
  font-size: 16px;
}
#recall {
  padding: 48px 60px;
  text-align: center;
}
.modal-form {
  width: 100%;
  color: #262626;
}
.modal-form h3 {
  font-family: 'MuseoSansBlack', Arial, Tahoma, sans-serif;
  font-size: 30px;
  margin-bottom: 22px;
}
.modal-form .text {
  font-size: 21px;
  line-height: 24px;
  margin-bottom: 30px;
}
.mfp-bg {
  background: #000;
  opacity: 0.5 !important;
}
.mfp-wrap ~ * {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}
.mfp-zoom-out {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-zoom-out .mfp-with-anim {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
.mfp-zoom-out.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-zoom-out.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.mfp-zoom-out.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-out.mfp-removing .mfp-with-anim {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  opacity: 0;
}
.mfp-zoom-out.mfp-removing.mfp-bg {
  opacity: 0;
}
.visible-md {
  display: block;
}
.visible-sm {
  display: none;
}
.header-menu-container {
  display: none;
}
/*================= MEDIA ======================*/
@media (min-width: 1001px) {
  .fancybox-close {
    background: url("../images/close_popup.png") center center no-repeat;
    width: 28px;
    height: 28px;
    top: 0;
    right: -40px;
    opacity: 0.5;
    transition: all 0.3s ease-out;
  }
  .fancybox-close:hover {
    opacity: 1;
  }
  .fancybox-nav span {
    width: 28px;
    height: 28px;
    margin-top: -14px;
    opacity: 0.5;
    transition: all 0.3s ease-out;
  }
  .fancybox-nav span:hover {
    opacity: 1;
  }
  .fancybox-prev span {
    background: url("../images/iconArrowLeft.png") center center no-repeat;
  }
  .fancybox-next span {
    background: url("../images/iconArrowRight.png") center center no-repeat;
  }
}
@media (max-width: 1000px) {
  .footer-info p:nth-of-type(2) {
    position: relative;
    left: -140px;
  }
  .header-menu li {
    margin-right: 19px;
  }
  .header-menu a {
    font-size: 14px;
  }
  .advantage-block,
  .copy-header .advantage-block {
    margin-right: 0;
  }
  h2 {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .catalog-block {
    margin: 0 5%;
    margin-bottom: 24px;
    width: 40%;
    border-radius: 4px !important;
  }
  .pen-photo {
    height: 260px;
  }
  .catalog-list {
    min-height: 1px;
  }
  .catalog-section {
    padding: 35px 0 30px;
  }
  .delivery-pay-section {
    padding: 30px 0 20px;
  }
  .delivery-pay-section .tuktuk {
    display: none;
  }
  .delivery-block {
    width: 47%;
    margin: 0 1%;
    margin-bottom: 24px;
  }
  .review-section {
    padding: 30px 0 40px;
  }
  .diploms-section {
    padding: 30px 0;
  }
  .diploms-section h3 {
    margin-bottom: 30px;
  }
  .diploms-text {
    float: none;
    width: 80%;
    margin-bottom: 40px;
  }
  .diploms-fancybox {
    float: none;
  }
  .diploms-fancybox .fake {
    right: 10px;
    bottom: 90%;
  }
  .work-section {
    padding: 30px 0 50px;
  }
  .copy-header {
    padding: 40px 0;
  }
  .footer-info p {
    font-size: 16.5px;
  }
  .catalog-popup {
    width: 100%;
    max-width: 400px;
  }
  .catalog-popup_content {
    display: block;
  }
  .catalog-popup_content > li {
    display: block;
    width: 100% !important;
    padding: 24px !important;
  }
  .catalog-popup_content > li:first-child {
    width: 100% !important;
    padding-bottom: 0 !important;
  }
  .catalog-popup_content > li:last-child {
    width: 100% !important;
  }
  .visible-sm {
    display: block;
  }
  .visible-md {
    display: none;
  }
  .fancybox-prev span {
    left: 70px;
  }
  .fancybox-next span {
    right: 70px;
  }
}
@media (min-width: 768px) {
  .header-menu-mobile {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .header-menu {
    display: none;
  }
  .logo {
    display: none;
  }
  header .textRight {
    text-align: center;
  }
  .header-menu_outer {
    padding: 10px 0;
    position: relative;
  }
  .recall {
    margin-left: 0;
    display: block;
    max-width: 234px;
    margin: 0 auto 20px;
  }
  .header-contacts {
    text-align: center;
  }
  .header-menu-container {
    display: block;
  }
  .header-menu-container .logo {
    display: inline-block;
  }
  .buter {
    float: right;
    width: 36px;
    margin-top: 3px;
    cursor: pointer;
  }
  .buter span {
    display: block;
    height: 4px;
    background: #fff;
    margin: 6px 0;
    width: 100%;
    border-radius: 4px;
  }
  .buter.open-buter {
    pointer-events: none;
  }
  .buter.open-buter span {
    background: #ffc300;
  }
  .header-content .limited-img,
  .advantage-pen,
  .copy-header .limited-img {
    display: none;
  }
  .header-menu-mobile {
    position: absolute;
    display: none;
    top: 100%;
    right: 0;
    text-align: right;
    padding: 15px 15px 5px 25px;
    background: #252525;
  }
  .header-menu-mobile li {
    margin-bottom: 15px;
  }
  .header-menu-mobile a {
    transition: all 0.3s ease-out;
  }
  .header-menu-mobile a:hover {
    color: #ffc300;
  }
  .advantage-block,
  .copy-header .advantage-block {
    max-width: 300px;
    display: block;
    margin: 0 auto;
    padding: 28px 15px 30px;
  }
  .advantage-block h3,
  .copy-header .advantage-block h3 {
    font-size: 22px;
  }
  .advantage-block .btn,
  .copy-header .advantage-block .btn {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .advantage-list span {
    font-size: 16px;
    padding-left: 34px;
  }
  h2 {
    font-size: 32px;
  }
  h2 span br {
    display: none;
  }
  .btn {
    font-size: 18px;
  }
  .catalog-block {
    width: 100%;
    margin: 0 auto 24px;
    max-width: 300px;
    display: block;
  }
  .pen-photo {
    height: 268px;
  }
  .popup-contains span img {
    max-width: 100%;
  }
  .popup-modal {
    padding: 30px 15px;
  }
  .popup-modal .mfp-close {
    right: 0;
    top: -40px;
  }
  .delivery-block,
  .pay-block,
  .condition-block {
    width: 100%;
    max-width: 420px;
    margin: 0 auto 24px;
    display: block;
  }
  .condition-block br {
    display: none;
  }
  .delivery-block .col-sm-6 {
    margin-bottom: 15px;
  }
  .delivery-block .col-sm-6:nth-of-type(2) {
    padding-left: 15px;
  }
  .delivery-block p {
    margin-bottom: 5px;
  }
  .delivery-pay-section h3 {
    font-size: 28px;
  }
  .review-text {
    margin-bottom: 15px;
  }
  .more-review span {
    line-height: 1.33;
  }
  .more-review i {
    margin-bottom: 15px;
  }
  .diploms-section h3 {
    font-size: 24px;
    text-align: center;
  }
  .diploms-section h3 br {
    display: none;
  }
  .diploms-text {
    width: 100%;
    text-align: center;
  }
  .diploms-fancybox .fake {
    display: none;
  }
  .diploms-fancybox {
    text-align: center;
  }
  .diploms-fancybox a {
    max-width: 136px;
    margin: 0 3px 15px !important;
  }
  .work-section h2 {
    margin-bottom: 25px;
  }
  .work-block {
    margin-bottom: 40px;
  }
  .work-section {
    padding-bottom: 20px;
  }
  .footer-info-top {
    display: block;
  }
  .footer-info-top p {
    position: static !important;
  }
  .footer-info p {
    line-height: 1.4;
    margin-bottom: 10px;
  }
  .footer-bottom p {
    float: left;
    margin-bottom: 15px;
  }
  .developer {
    float: none;
    margin-left: 0;
  }
  .masonry-item {
    width: 50% !important;
  }
  .footer-info p span {
    display: inline;
  }
  .footer-info p span a {
    white-space: nowrap;
  }
  .copy-header h2 {
    margin-bottom: 40px;
  }
}
@media (max-width: 480px) {
  .popup-pen-photo {
    height: 240px;
  }
  .popup-modal .pen-color p {
    font-size: 13px;
  }
  .modal-form .text {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .condition-block {
    padding-left: 90px;
  }
  .condition-block .icon-block {
    -webkit-transform: scale(0.8) translateY(-50%);
            transform: scale(0.8) translateY(-50%);
    left: 12px;
  }
  .rating {
    float: none;
    margin-bottom: 15px;
  }
  .review-block .date {
    float: none;
    display: block;
  }
  .more-review i {
    margin-right: 0;
  }
  .more-review span {
    display: block;
  }
  .masonry-item {
    width: 100% !important;
  }
}

/*# sourceMappingURL=../css/main.css.map */
.colortypefiolet {
  background-color: #8900e0;
}