@font-face {
  font-family: "BebasNeue Regular";
  src: url("../fonts/BebasNeue Regular.otf"); }
@font-face {
  font-family: "BebasNeue Bold";
  src: url("../fonts/BebasNeue Bold.otf"); }
@font-face {
  font-family: "Philosopher-Regular";
  src: url("../fonts/Philosopher-Regular.ttf"); }
@font-face {
  font-family: "Philosopher-Italic";
  src: url("../fonts/Philosopher-Italic.ttf"); }
@font-face {
  font-family: "Philosopher-Bold";
  src: url("../fonts/Philosopher-Bold.ttf"); }
@font-face {
  font-family: "Philosopher-BoldItalic";
  src: url("../fonts/Philosopher-BoldItalic.ttf"); }
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTC55F.ttf"); }
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  margin: 0;
  padding: 0; }

html, body {
  margin: 0;
  padding: 0;
  background: #e4e6e7;
  overflow-x: hidden; }

@media screen and (max-width: 1024px) {
  html, body {
    overflow-x: visible; } }
.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0; }

.bg {
  position: absolute;
  width: 100vw;
  min-width: 1170px; }

header, footer {
  margin: 0;
  padding: 0;
  z-index: 9999;
  height: 148px;
  position: relative; }
  header .logo, footer .logo {
    float: left;
    margin-top: 26px;
    margin-right: 80px; }
  header .header__phone, footer .header__phone {
    list-style-type: none;
    color: #fff;
    font-size: 30px;
    font-family: "BebasNeue Regular", sans-serif;
    padding-top: 40px;
    width: 200px;
    float: left; }
    header .header__phone img, footer .header__phone img {
      float: left;
      margin-right: 10px;
      margin-top: 10px; }
    header .header__phone li:last-child, footer .header__phone li:last-child {
      margin-left: 25px; }
  header .header__button, footer .header__button {
    margin-left: 80px;
    width: 209px;
    float: left;
    margin-top: 26px;
    margin-right: 80px; }
    header .header__button a, footer .header__button a {
      padding: 10px 18px; }
    header .header__button a:first-child, footer .header__button a:first-child {
      text-decoration: none;
      display: block;
      color: #fff;
      border-radius: 5px;
      background-image: -moz-linear-gradient(90deg, #004cbd 0%, #2391ef 100%);
      background-image: -webkit-linear-gradient(90deg, #004cbd 0%, #2391ef 100%);
      background-image: -ms-linear-gradient(90deg, #004cbd 0%, #2391ef 100%);
      text-transform: uppercase;
      font-size: 20px;
      font-family: "BebasNeue Regular", sans-serif; }
      header .header__button a:first-child img, footer .header__button a:first-child img {
        margin-right: 20px;
        margin-left: 10px;
        line-height: normal; }
      header .header__button a:first-child span, footer .header__button a:first-child span {
        text-align: center; }
    header .header__button a:last-child, footer .header__button a:last-child {
      margin-top: 10px;
      text-decoration: none;
      display: block;
      border-radius: 5px;
      background-image: -moz-linear-gradient(90deg, #a4ce2d 0%, #b8f802 99%);
      background-image: -webkit-linear-gradient(90deg, #a4ce2d 0%, #b8f802 99%);
      background-image: -ms-linear-gradient(90deg, #a4ce2d 0%, #b8f802 99%);
      text-transform: uppercase;
      font-size: 20px;
      font-family: "BebasNeue Bold", sans-serif;
      color: black; }
      header .header__button a:last-child img, footer .header__button a:last-child img {
        margin-right: 20px;
        margin-left: 10px;
        line-height: normal;
        height: 20px; }
      header .header__button a:last-child span, footer .header__button a:last-child span {
        text-align: center; }
  header .header__info, footer .header__info {
    padding-top: 32px;
    list-style-type: none; }
    header .header__info li, footer .header__info li {
      margin-bottom: 15px;
      color: #fff;
      font-size: 14px;
      font-family: "Arial", sans-serif; }
      header .header__info li img, footer .header__info li img {
        margin-right: 20px; }

nav {
  margin: 0 auto;
  width: 1170px;
  padding: 20px 0;
  position: relative;
  background-image: -moz-linear-gradient(90deg, #004cbd 0%, #2391ef 100%);
  background-image: -webkit-linear-gradient(90deg, #004cbd 0%, #2391ef 100%);
  background-image: -ms-linear-gradient(90deg, #004cbd 0%, #2391ef 100%);
  border-radius: 5px; }
  nav #nav {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  nav li {
    display: inline-block;
    border-right: 1px solid #f9f9f9;
    border-image: url("../images/menu.png") 1 round round; }
    nav li:hover a {
      color: #2163c6;
      background-image: -moz-linear-gradient(90deg, #e3e3e3 0%, white 100%);
      background-image: -webkit-linear-gradient(90deg, #e3e3e3 0%, white 100%);
      background-image: -ms-linear-gradient(90deg, #e3e3e3 0%, white 100%); }
    nav li a {
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 20px;
      font-family: "BebasNeue Bold", sans-serif;
      padding: 20px 30px;
      margin: 0; }
      nav li a:hover, nav li a:active {
        margin: 0;
        text-decoration: none;
        color: #2163c6;
        background-image: -moz-linear-gradient(90deg, #e3e3e3 0%, white 100%);
        background-image: -webkit-linear-gradient(90deg, #e3e3e3 0%, white 100%);
        background-image: -ms-linear-gradient(90deg, #e3e3e3 0%, white 100%); }
      nav li a:after {
        background: url("../images/menu.png"); }
  nav #nav ul {
    list-style: none;
    position: absolute;
    left: -9999px;
    width: 300px;
    z-index: 9999;
    opacity: 0;
    margin-top: 15px;
    -webkit-transition: 0.25s linear opacity;
    background-image: -moz-linear-gradient(90deg, #e3e3e3 0%, white 100%);
    background-image: -webkit-linear-gradient(90deg, #e3e3e3 0%, white 100%);
    background-image: -ms-linear-gradient(90deg, #e3e3e3 0%, white 100%); }
  nav #nav ul li {
    float: left;
    clear: both;
    overflow: hidden;
    width: 100%; }
  nav #nav ul a {
    white-space: nowrap;
    display: block; }
  nav #nav li:hover ul {
    left: 221px;
    opacity: 1; }
  nav #nav span {
    background: url("../images/right-chevron-normal.png") no-repeat;
    display: inline-block;
    width: 30px;
    height: 9px;
    padding: 0;
    margin: 0; }
  nav #nav li:hover span {
    background: url("../images/right-chevron.png") no-repeat;
    width: 30px;
    height: 9px;
    display: inline-block;
    padding: 0;
    margin: 0; }
  nav #nav li:first-child:hover a {
    border-radius: 5px 0px 0px 5px; }
  nav #nav li:hover ul a {
    color: #2163c6;
    background: none; }
  nav #nav li:hover ul a {
    text-decoration: none;
    -webkit-transition: -webkit-transform 0.075s linear; }
  nav #nav li:hover ul li a:hover {
    text-decoration: none; }

.stage {
  margin: 0;
  padding: 0;
  position: relative; }
  .stage div.stage__line {
    margin: 70px 0;
    background: url("../images/line.png") no-repeat;
    width: 1170px;
    min-height: 661px; }
    .stage div.stage__line h1 {
      width: 293px;
      text-align: center;
      margin-left: 30px;
      padding: 6px 25px;
      border-radius: 5px;
      text-transform: uppercase;
      background-image: -moz-linear-gradient(90deg, #e3e3e3 0%, white 100%);
      background-image: -webkit-linear-gradient(90deg, #e3e3e3 0%, white 100%);
      background-image: -ms-linear-gradient(90deg, #e3e3e3 0%, white 100%);
      font-size: 30px;
      font-family: "BebasNeue Regular", sans-serif;
      color: #014dbe;
      font-weight: normal; }
    .stage div.stage__line .block {
      display: inline-block;
      width: 263px;
      position: relative;
      margin: 0;
      padding: 0; }
      .stage div.stage__line .block h3 {
        margin-top: -30px;
        font-size: 18px;
        font-family: "Philosopher-BoldItalic", sans-serif;
        color: black;
        text-align: center; }
    .stage div.stage__line .block-1 {
      margin-left: 66px;
      margin-top: -20px; }
    .stage div.stage__line .block-2 {
      margin-top: 20px;
      width: 263px; }
    .stage div.stage__line .block-9 {
      padding-top: -30px;
      padding-left: 100px; }
    .stage div.stage__line .girl {
      position: relative;
      float: right;
      margin-top: -170px;
      margin-right: 4px;
      z-index: 9; }

.rect-line {
  background: bottom url("../images/line-works.png");
  margin-bottom: -20px;
  height: 42px;
  min-width: 1170px;
  position: relative; }

.works {
  padding: 60px 0;
  min-width: 1170px;
  min-height: 410px;
  background: #fff; }
  .works h2 {
    background-image: -moz-linear-gradient(90deg, #004cbd 0%, #2391ef 100%);
    background-image: -webkit-linear-gradient(90deg, #004cbd 0%, #2391ef 100%);
    background-image: -ms-linear-gradient(90deg, #004cbd 0%, #2391ef 100%);
    border-radius: 5px;
    padding: 12px 0px;
    font-size: 24px;
    font-family: "BebasNeue Regular", sans-serif;
    color: white;
    font-weight: normal;
    width: 293px;
    text-align: center;
    margin: 0 auto;
    z-index: 9;
    position: relative; }
  .works .line-work {
    background: left top url("../images/line-work.png") no-repeat #fff;
    background-size: auto;
    min-width: 1170px;
    min-height: 410px;
    margin-top: -30px;
    position: relative;
    padding-top: 70px;
    padding-left: 40px;
    padding-right: 40px;
    overflow: hidden; }
    .works .line-work .block {
      display: inline-block;
      float: left;
      margin: 10px 40px;
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      width: 206px;
      height: 206px;
      border: 1px solid #fff; }
      .works .line-work .block img {
        border-radius: 103px; }
    .works .line-work div.more {
      margin-top: 480px;
      height: 44px;
      position: relative;
      width: 247px;
      margin-left: auto;
      margin-right: auto; }
    .works .line-work a {
      border: 1px solid #2391ef;
      border-radius: 5px;
      padding: 10px 40px;
      background: #fff;
      color: #2391ef;
      text-decoration: none;
      text-align: center;
      font-size: 16px;
      font-family: "Philosopher-Italic", sans-serif; }

.clients {
  margin: 0;
  padding: 40px 0;
  min-width: 1170px;
  background: url("../images/line-clients.png") #fff no-repeat; }
  .clients .clients__title h2 {
    background-image: -moz-linear-gradient(90deg, #004cbd 0%, #2391ef 100%);
    background-image: -webkit-linear-gradient(90deg, #004cbd 0%, #2391ef 100%);
    background-image: -ms-linear-gradient(90deg, #004cbd 0%, #2391ef 100%);
    border-radius: 5px;
    padding: 12px 0px;
    font-size: 24px;
    font-family: "BebasNeue Regular", sans-serif;
    color: white;
    font-weight: normal;
    width: 293px;
    text-align: center;
    z-index: 9;
    position: relative; }
  .clients .clients__slider {
    padding: 60px 0;
    min-width: 1170px; }
    .clients .clients__slider .slick-prev:before, .clients .clients__slider .slick-next:before {
      font-family: 'FontAwesome';
      font-size: 40px;
      line-height: 1;
      color: #2391ef;
      opacity: 0.75;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
    .clients .clients__slider .slick-prev, .clients .clients__slider .slick-next {
      z-index: 9999;
      position: absolute; }
    .clients .clients__slider .slick-prev:before {
      content: "\f053";
      margin-left: 30px;
      display: block;
      z-index: 9999;
      position: relative; }
    .clients .clients__slider [dir="rtl"] .slick-prev:before {
      content: "\f054"; }
    .clients .clients__slider [dir="rtl"] .slick-next {
      left: -10px;
      top: 70px;
      right: auto; }
    .clients .clients__slider .slick-next:before {
      content: "\f054";
      margin-left: -80px; }
    .clients .clients__slider [dir="rtl"] .slick-next:before {
      content: "\f053"; }
    .clients .clients__slider .slick-cloned {
      z-index: 1;
      position: relative; }
    .clients .clients__slider div {
      z-index: 1;
      margin: 10px 0px;
      width: 1170px;
      position: relative;
      text-align: center;
      height: 340px; }
      .clients .clients__slider div img.client {
        margin-left: 80px;
        float: left;
        margin-right: 20px; }
      .clients .clients__slider div p {
        width: 280px;
        float: left;
        padding: 10px 30px;
        text-align: left;
        font-size: 16px;
        font-family: "Philosopher-Regular", sans-serif;
        color: black;
        line-height: 1.2; }
        .clients .clients__slider div p span.author {
          margin-top: 20px;
          display: block;
          font-family: "Philosopher-Bold", sans-serif;
          color: black; }
      .clients .clients__slider div .kav_bottom {
        float: right;
        display: flex;
        margin-right: 20px;
        position: relative;
        bottom: 0; }
  .clients div.more {
    height: 44px;
    position: relative;
    width: 247px;
    margin-left: auto;
    margin-right: auto; }
  .clients a {
    border: 1px solid #2391ef;
    border-radius: 5px;
    padding: 10px 40px;
    background: #fff;
    color: #2391ef;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-family: "Philosopher-Italic", sans-serif; }

.company {
  padding: 0;
  min-width: 1170px;
  background: url("../images/company.png");
  height: 410px;
  margin-top: -10px; }
  .company h2 {
    margin: 30px 0;
    float: left;
    font-size: 30px;
    font-family: "BebasNeue Regular", sans-serif;
    font-weight: normal;
    color: white;
    line-height: 1.6; }
  .company .company__slider {
    padding: 120px 0;
    min-width: 1170px; }
    .company .company__slider .slick-prev:before, .company .company__slider .slick-next:before {
      font-family: 'FontAwesome';
      font-size: 20px;
      line-height: 1;
      color: #ffb900;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
    .company .company__slider .slick-prev, .company .company__slider .slick-next {
      z-index: 9999;
      position: absolute; }
    .company .company__slider .slick-prev:before {
      content: "\f053";
      display: block;
      z-index: 9999;
      position: relative; }
    .company .company__slider [dir="rtl"] .slick-prev:before {
      content: "\f054"; }
    .company .company__slider [dir="rtl"] .slick-next {
      left: -10px;
      top: 70px;
      right: auto; }
    .company .company__slider .slick-next:before {
      content: "\f054"; }
    .company .company__slider [dir="rtl"] .slick-next:before {
      content: "\f053"; }
    .company .company__slider .slick-slide {
      background: #fff;
      margin: 5px;
      height: 175px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center; }

.about {
  margin: 0;
  padding-top: 30px; }
  .about img {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px auto; }
  .about h2 {
    text-align: center;
    font-size: 30px;
    font-family: "Philosopher-Regular", sans-serif;
    color: #004cbd;
    margin-bottom: 30px; }
  .about h2#working {
    margin-top: 40px; }
  .about p {
    text-align: center;
    font-size: 18px;
    font-family: "Philosopher-Regular", sans-serif;
    color: #000;
    width: 810px;
    margin: 0 auto; }
  .about .working {
    height: 610px;
    min-width: 1170px;
    background: bottom url("../images/working.png") no-repeat; }
    .about .working ul {
      list-style-type: none;
      padding: 0 97px; }
      .about .working ul li {
        float: left;
        display: inline-block;
        background: #fff;
        width: 175px;
        height: 175px;
        margin: 10px;
        opacity: 0.7; }
        .about .working ul li div {
          position: relative;
          opacity: 1;
          width: 175px;
          height: 175px;
          display: flex;
          justify-content: center;
          align-items: center;
          vertical-align: middle; }
          .about .working ul li div img {
            position: relative;
            opacity: 1; }

footer {
  height: 586px;
  background: #312626; }
  footer .footer {
    min-width: 1170px;
    height: 586px;
    background: url("../images/footer.png"); }
    footer .footer .footer__menu {
      margin-top: 40px;
      float: left;
      margin-left: 15px;
      width: 360px; }
      footer .footer .footer__menu ul {
        list-style-type: none;
        float: left; }
        footer .footer .footer__menu ul:first-child {
          margin-right: 80px; }
        footer .footer .footer__menu ul li {
          margin: 0;
          padding: 0; }
          footer .footer .footer__menu ul li a {
            text-decoration: none;
            font-size: 14px;
            font-family: "Arial", sans-serif;
            color: white;
            line-height: 2.571; }
    footer .footer .footer__form {
      margin-top: 60px; }
      footer .footer .footer__form h3 {
        font-size: 14px;
        font-family: "Arial", sans-serif;
        color: #e3e3e3;
        font-weight: bold; }
      footer .footer .footer__form input {
        margin-top: 20px;
        margin-right: 20px;
        width: 264px;
        border: 1px solid #e3e3e3;
        border-radius: 5px;
        height: 39px;
        padding: 0 17px;
        background: #322727;
        color: #e3e3e3; }
      footer .footer .footer__form .fileform {
        border: 1px solid #e3e3e3;
        border-radius: 5px;
        height: 39px;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        text-align: left;
        vertical-align: middle;
        width: 264px;
        padding: 0 17px;
        float: right;
        margin-top: 20px;
        margin-right: 170px; }
      footer .footer .footer__form .fileform #upload {
        margin-top: 0px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        -moz-opacity: 0;
        filter: alpha(opacity=0);
        opacity: 0;
        font-size: 150px;
        background: #fff;
        height: 39px;
        z-index: 20; }
      footer .footer .footer__form .fileform #fileformlabel {
        border-radius: 5px;
        height: 39px;
        background: #322727;
        float: left;
        line-height: 22px;
        overflow: hidden;
        text-align: left;
        font-size: 12px;
        vertical-align: middle;
        width: 100%;
        padding-top: 8px;
        padding-right: 17px;
        margin-left: 0;
        font-family: "Arial", sans-serif;
        color: #fff; }
      footer .footer .footer__form textarea {
        background: #322727;
        border: 1px solid #e3e3e3;
        border-radius: 5px;
        float: left;
        margin-top: 20px;
        padding: 8px 17px;
        width: 590px;
        height: 110px;
        color: #fff; }
      footer .footer .footer__form button {
        font-size: 18px;
        font-family: "BebasNeue Regular", sans-serif;
        color: white;
        text-align: center;
        background-image: -moz-linear-gradient(90deg, #004cbd 0%, #2391ef 100%);
        background-image: -webkit-linear-gradient(90deg, #004cbd 0%, #2391ef 100%);
        background-image: -ms-linear-gradient(90deg, #004cbd 0%, #2391ef 100%);
        border-radius: 5px;
        padding: 10px 40px;
        border: 0;
        margin-top: 107px;
        margin-left: 20px; }
    footer .footer .footer__copyright {
      width: 100%;
      font-size: 14px;
      font-family: "Arial", sans-serif;
      color: white;
      margin-top: 50px; }

/*# sourceMappingURL=style.css.map */
